<!-- ==== ABOUT ==== -->
<div class="container" name="about">
  <div class="row white">
    <br>
    <h1 class="centered">A LITTLE ABOUT OUR PROGRAM</h1>
    <hr>
    <div class="centered">
      <img src="img/teampic.jpg" title="Bison Team Pic" alt="img_alt" style="max-width: 100%; height: auto; margin: auto;" />
    </div>
    <h3 class="centered">Vista Peak PREP High School</h3>
    <hr>
    <p></p>
    <h3 class="centered">Junior Bisons</h3>
    <hr>
    <p>
      Junior Bison Wrestling is an open enrollment, winter wrestling academy with the mission of developing young wrestlers within the Aurora, Colorado area. We offer a high level
      curriculum to all kids (ages 5-14) and high school wrestlers. Junior Bison Wrestling is a non-profit 501(C)(3) organization, and is working hard to offer opportunities for youth
      in the city of Aurora to participate and enhance their skills in youth sports. Our goal is to grow our mentoring and sports programs to reach all corners of the city and create
      positive environments for our children, the future leaders, to develop into the young men and women they desire to be…and…teach them to give back to their communities in appreciation.
    </p>
  </div>
  <!-- row -->
</div>
<!-- container -->