{{> header }}
{{> nav }}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12 center">
					<h1 class="mainH1">ARCHIVED NEWS</h1>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">3RD ANNUAL VISTA PEAK BISON INVITATIONAL</h2>
					<h3 class="mainH3">DECEMBER 9, 2017</h3>
					<div class="row">
						<div class="col-md-5">
							<img src="//lh3.googleusercontent.com/bQN_gbbtuqX-Vqz58TwCwi305_WdpwbeMTZ5WglnNJPLtKkrllLS_F3X2x3ofY3vYbIp2iFIl9l6HIDY_CKNBFElWQm2BkbV9yvD4j9hArvcL7Rno8BH_gpoSULLPr6i6Ef7mNDc7jkPwP69eQYN15pwwnFGtvWJ_9USPOoZ87afgif8OJZovpKW-MHB5RlS7kuwkdmrsCLeoe-bXxtSpPU9-hmOTKHydjgLnlpfEFsJx-0_Lfq8tE7e2GKvkP8RvFt44PYBRpggDLGnNz4vH1ofwpY4jv1z_-fUrw37p8yI8MFx06Vpr6LO8SSxAkwU9euINzRpuPYbVNs5cBZmeaVkpPs_uPqTTz5-N0U3xlWoFSPPxHxcdpZa5btGILW8FCTzgb6JtfzMWty9mDjDUr6BfKc1lLSy2ZgF4dYNRL_3zZYeZK-bXLp9SlpaZAJjaKqUuftlZitMesN_9hLZ8CmSWScgYtZ7nIEt101Tcy_XkuQietLfri-cnh7LgO8kVItEbDaTjJf0F6-vfbFoXXHJCeH4PbWzF_siHw1CZmgJtrC-v7iQzrZGW6KGum35KGZXYidkB6C3S56hD5gZUToO55VaMh7xafspT2n_RQ=w2726-h2036-no" style="max-width: 100%;" alt="3RD ANNUAL VISTA PEAK BISON INVITATIONAL" />
						</div>
						<div class="col-md-7">
							<p class="newsPBold">What a way to defend the title!</p>
							<p>For the third straight year the Bison wrestling won and defended their title at the 3rd Annual Vista PEAK Bison Invitational. Unlike past season’s the Bison had to fight hard to take home the honors. With a close score, Vista PEAK ended out Overland High School with a score of 167 to 166. When the final match was completed, the Bison where represented with 11 total podium winners. </p>
							<ul class="newsPBold">
								<li>106 - Karstin Wells (3-4) placed 2nd</li>
								<li>126 - Tony Lozano (7-3) placed 2nd</li>
								<li>132 - Connor Ireland (7-2) placed 4th</li>
								<li>138 - Tristan Curtis (8-0) placed 1st</li>
								<li>145 - Cordell Robinson (6-4) placed 4th</li>
								<li>152 - Tyler Jones (5-3) placed 2nd</li>
								<li>152 - Drake Jackson (5-1) placed 1st</li>
								<li>160 - Jace Arno (5-4) placed 2nd</li>
								<li>160 - Donavon Jarmon (1-2) placed 4th</li>
								<li>195 - Jayden Smith (6-2) placed 3rd</li>
								<li>220 - Dechlin Miller (3-4) placed 4th</li>
							</ul>
							<p>Additionally, Tristan Curtis was voted as the "Outstanding Wrestler" by all the coaches. Congradulations to all the Bison that participated this weekend!!!!</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">MIKE STANLEY INVITATIONAL</h2>
					<h3 class="mainH3">DECEMBER 2, 2017</h3>
					<div class="row">
						<div class="col-md-4">
							<img src="//lh3.googleusercontent.com/TnfSEVqeNb5e2FLzNd0xq6nb6nncEadGR2b84GhPS9zAJfr4XA0urDrfTo1lGugHj15E9Ak0TiMBP0vX5eRb8fAQr45DDoqGrYmy_WcdF9-xpGhnDUFPHJS4D_7FxvGAbOoQYFSQ4-1T70m2_HIDOg4wTBMEU7ARyRPtbDHphCdwhLRH0l2kmRST14fzRqhRXoSL1nJbHTMJaxWUo-zgle5yNFqI-ZEAVXynT5o15jcKZHz9Ce3gp431X6MKvYeHfRYlORMEMFkRMPzKPKErfhh7G3unoXXDR9S_0EwP9WRW9Wel9CY9TUl9jLY7t9izIQjxNOGrdQGeUn8oC-_mEo3u8bVeJOtuSdDepxzLDMdjbhEzdQ-H08PmqoMHgjaJyTcft4pmmLnfYTXiSD4UaOunBXHaS9o1r0mIQWuhjKu7T2b3-H4yOBy7Bc10U_w4F5oFLb5RjGcF84iruwx6hxxVMo7RYQmveYXipa5fsiwCndo4ssKopiOSdgp8sLRFN19BtGNMNtNq3--pipFgskrMy3zmpuKXqYP1YmS7NF5WWEG3ztiUMgABcmQO-ZqSS2ZKQrrA7VTPK_qsUXyyZyrYgLhOiWXpCglFWkiE-Q=w1365-h2048-no" style="max-width: 100%;" alt="MIKE STANLEY INVITATIONAL" />
						</div>
						<div class="col-md-8">
							<p class="newsPBold">What a way to rebound!</p>
							<p>After a rough start to the 2017 season, the Vista PEAK Bison came out Saturday to let everyone know that they are a force to be reckoned with at the Mike Stanley Invitational. With a score of 165.5, the Bison walked away with the team title and had several wrestlers make the podium.</p>
							<ul class="newsPBold">
								<li>113 - Elisa Abeyta (3-2) placed 4th</li>
								<li>126 - Tony Lozano (4-1) placed 3rd</li>
								<li>132 - Connor Ireland (4-0) placed 1st</li>
								<li>138 - Tristan Curtis (3-0) placed 1st</li>
								<li>145 - Cordell Robinson (4-1) placed 3rd</li>
								<li>182 - Alex Moten (2-2) placed 4th</li>
								<li>195 - Jayden Smith (3-0) placed 1st</li>
								<li>220 - Tuz Enriquez (2-2) placed 4th</li>
							</ul>
							<p>Congradulations to all the Bison that participated this weekend!!!!</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">BISON WRESTLING GEAR</h2>
					<h3 class="mainH3">NOVEMBER 3, 2017</h3>
					<div class="row">
						<div class="col-md-4">
							<img src="img/news/fangear.png" style="max-width: 100%;" alt="Fangear" />
						</div>
						<div class="col-md-8">
							<p class="newsPBold">Hello Bison family!</p>
							<p>The Bison Wresting team is selling some pretty fantastic Vista PEAK Bison gear. We know you would love to sport your Bison Pride where ever you go! We have exactly what you are looking for. Please check out the link below and find what you have been dreaming of. Remember that the Holidays are right around the corner and we know that you would want ALL your friends and family to support our AWESOME school as well, so why not get them something too! Please stop by and check out the super amazing stuff we have for sale or find your favorite wrestler and they will be happy to help you. All sales support our Wresting program and would love for you to take a few minutes to check it out. You know you need a shirt to wear when you come to cheer us on this season but we have so much more too!!!! Check it out!!</p>
							<p><a href="http://shop.fancloth.com/80017/335194" target="_blank">Bison Wrestling Fancloth</a></p>
						</div>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">COLD &amp; FLU SEASON</h2>
					<h3 class="mainH3">NOVEMBER 3, 2017</h3>
					<div class="row">
						<div class="col-md-4">
							<img src="img/news/cold_flu.jpg" style="max-width: 100%;" alt="Cold &amp; Flu" />
						</div>
						<div class="col-md-8">
							<p>Hello Bison Wrestlers! Wresting season is upon us and so is the cold and flu season. At the beginning of every wrestling season we see an increase in illnesses. As you are aware, wrestling is a full contact sport and with that, germs spread very rapidly. We need to make every attempt to keep our team healthy this year so we can have productive practices. With that being said, please be sure that you are up-to-date on your Flu shots, use hand sanitizer frequently, cover your mouth when coughing and sneezing, and wash hands regularly. If you feel you are becoming sick please be sure to let the coaches know so that we can keep illness to a minimum this year.</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">SEASON STARTS SOON</h2>
					<h3 class="mainH3">OCTOBER 30, 2017</h3>
					<div class="row">
						<div class="col-md-4">
							<img src="img/news/training.jpg" style="max-width: 100%;" alt="The Hill" />
						</div>
						<div class="col-md-8">
							<p>All individuals must have registration and physical turned in before practice begins officially on November 10th. We will start “open gym” practice November 6 (Monday) from 3:30-5:30.</p>
							<p>Saturday November 11th we will be going to do the mini incline in the morning (Castle Rock) multiple times, then BBQ afterwards.</p>
							<p>Check out our team <a href="https://www.facebook.com/groups/VISTAPEAKWRESTLING/" target="_blank">Facebook Page</a> for our signup sheet for what to bring to the BBG!</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">BISON ON THE PODIUM AGAIN</h2>
					<h3 class="mainH3">OCTOBER 22, 2017</h3>
					<div class="row">
						<div class="col-md-4">
							<img src="img/news/freakshow.jpg" style="max-width: 100%;" alt="Freakshow" />
							<br>
							<br>
							<img src="img/news/jayden2.jpg" style="max-width: 100%;" alt="Jayden Smith" />
						</div>
						<div class="col-md-8">
							<p>Big shout out to our senior wrestler Jayden Smith!!</p>
							<p><span class="newsPBold">"The Freak Show"</span> is the fastest growing wrestling event in the country. The overall talent coupled with the event being held at the Westgate Hotel &amp; Casino in Las Vegas, Nevada during one of the craziest weekends of the years has caused the event to be dubbed as, <span class="newsPBold">"The Freak Show of Amateur Wrestling"</span>.  With the base of the event being athletes from talent rich California, the competitors from the other 40 states and a sell-out of over 2500+ wrestlers that attended in 2017 got all they could bargain for and much more...  At the Youth levels, RMN Events, NUWAY, Tulsa and Reno Champions litter the brackets.</p>
							<p>This weekend Jayden took 2nd place at 195 lbs. In his bracket he had to face off against state placers from several different stats.</p>
							<p>Congrats Jayden!</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">BISON ON TOP OF THE PODIUM</h2>
					<h3 class="mainH3">OCTOBER 2, 2017</h3>
					<div class="row">
						<div class="col-md-4">
							<img src="img/news/jayden1.jpg" style="max-width: 100%;" alt="Jayden Smith" />
							<br>
							<br>
							<img src="img/news/cosmic.jpg" style="max-width: 100%;" alt="Cosmic Clash" />
						</div>
						<div class="col-md-8 newsP">
							<p>A handful of Bison wrestlers took part in Rocky Mountain National’s COSMIC CLASH this past Saturday. This is a nationwide tournament that took place at the Stadium Arena at the National Western Complex. 28 total states and over 500 wrestlers were represented this past weekend on 14 Mats. Bison did extremely well lead by Senior 195 lb Jayden Smith. On his way to winning his bracket, Jayden knocked off a 2nd place finisher at last years New Mexico State Tournament, a 6th place finisher in last year’s Kansas State Tournament, as well as the #1 seed in the Tournament from powerhouse Thompson Valley High School.
							<p>
							<p>We also had two alumni wrestle in the 18 &amp; under division. I had one more chance to sit and coach in Dilan Esparza (’17) and Seth Abeyta’s (’17) corner! Neither one placed, because they were a little out of shape.
							<p>
							<p>Tristan Curtis (132) went 2-2 and lost a highly contested match in the blood round (one away from placing).</p>
							<p>Isaac Renas also represented our Bison family well in his weight class but went 0-2.</p>
							<p class="newsPBold">Congrats to Jayden and to all our Bison Wrestlers!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{> footer }}
