{{> header }}
{{> nav }}

<br>
<div class="container">
   <div class="row">
      <div class="col-lg-8">
         <div class="row">
            <div class="col-lg-12">
               <div style="max-width: 100%;">
                  <img src="img/news/image001.jpg" style="max-width: 100%;" alt="Junior Bison" />
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div>&nbsp</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div style="font-family: Impact; font-size: 60px; line-height:100%">
                  <span style="color: #a4c6ea;">VISTA PEAK<br></span>
                  <span style="color: #0c2441;">JUNIOR BISON </span>
                  <span style="color: #0c2441;">WRESTLING</span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div>&nbsp</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div colspan="2" style="font-size: 18px;"><img style="float: left;max-width: 100%;" src="img/icons/bison-head-2.png" alt="Junior Bison" />Junior Bison Wrestling begins October 30th and is for
                  boys and girls of all levels and abilities.  New participants will learn the fundamentals of wrestling, while returning athletes will improve upon skills and techniques with plenty
                  of live wrestling.  Wrestlers will compete in Sunday tournaments (matched by ability) throughout the winter, which may require additional fees dependent on tournament. Singlets,
                  head gear and shoes are not required, but recommended, for all athletes.  All leagues require an active USA wrestling membership, which must be purchased separately and before
                  registering with the club. Visit <a href="https://www.usawmembership.com/login" target="_blank">USA Wrestling</a> to get an active membership. Contact
									<a href="mailto:dabenedict@auroraK12.org">Coach Benedict</a> with any questions on the registration process or other questions.
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div>&nbsp</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 center">
               <div style="text-align:center; background-color:#a4c6ea; color: #000000; font-family: Impact; font-size: 200%; padding: 15px;">REGISTER NOW!! (Coming Soon)</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div>&nbsp</div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div style="text-align:center; background-color:#0c2441; color: #ffffff; font-family: Impact; font-size: 150%; padding: 25px;">
            Come Join the STAMPEDE: October 30th to Mid-February
            <hr class="style14">
            Practices are Tuesday, Thursday, &amp; Friday 5:30PM - 7:00PM
            <hr class="style14">
            Vista Peak High School Wrestling Room
            <hr class="style14">
            Kindergarten - 8th Grade
            <hr class="style14">
            $125 per wrestler (with sibling discount) in addition to USA Wrestling registration.
         </div>
         <div>&nbsp</div>
         <div style="text-align:center; background-color:#a4c6ea; color: #000000; font-family: Impact; font-size: 150%; padding: 15px;">
            BISON WRESTLING CLUB<br>
            <p><span style="font-size: 150%;">Coach David Benedict</span></p>
            <p><span style="font-size: 110%;" class="oi oi-home"> : 24500 E 6th Ave Aurora, CO 80018</span></p>
            <p><span style="font-size: 110%;" class="oi oi-envelope-closed"> : <a href="mailto:dabenedict@auroraK12.org">dabenedict@auroraK12.org</a></span></p>
            <p><span style="font-size: 110%;" class="oi oi-phone"> : +1 303-817-9482</span></p>
         </div>
      </div>
   </div>
</div>

{{> footer }}
{{> js_footer }}
{{> html_close }}
