<!-- ==== Contact ==== -->
<div class="container" name="contact">
  <div class="row">
    <br>
    <h1 class="centered">THANKS FOR VISITING US</h1>
    <hr>
    <div class="col-lg-6">
      <h3>Contact Information</h3>
      <p><span class="glyphicon glyphicon-home"></span>: 24500 E 6th Ave Aurora, CO 80018
        <br/>
        <span class="glyphicon glyphicon-phone"></span>: +1 303-340-0121
        <br/>
        <span class="glyphicon glyphicon-envelope"></span>: <a href="mailto:dabenedict@aps.k12.co.us">dabenedict@aps.k12.co.us</a>
        <br/>
      </p>
    </div>
    
    <!-- col -->
    <div class="col-lg-6">
      <h3>Support Us</h3>
      <p>Thank You to all of the parents, families, friends, teachers, staff, and community partners that have helped make this 2016-2017 Wrestling Season a success for all of our
        participating schools. Your support is what makes a program great. Good Luck at State for those who Qualify!
        <br /> - Coach Benedict
      </p>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
<!-- container -->