{{> header }} {{> nav }}

<div class="center">
	<h1 class="counterH1">#STAMPEDETOSTATE!</h1>
	<div class="center" id="stampedeToState"></div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<!--<div class="row">
				<div class="col-lg-12 center">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe src="https://www.youtube-nocookie.com/embed/9TazhsySx7E" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<br />-->
			<div class="row">
				<div class="col-lg-12 center">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe src="https://www.youtube-nocookie.com/embed/b2P0cvk9eq8" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<hr class="style13">
			<div class="row">
				<div class="col-lg-12 center">
					<h1 class="mainH1">NEWS</h1>
				</div>
			</div>

			<hr class="style13">

			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">CHADRON STATE WRESTING CAMP!!!!</h2>
					<h3 class="mainH3">APRIL 26, 2018</h3>
					<div class="row">
						<div class="col-md-12">
							<img src='img/Banner16.jpg' style="max-width: 100%;" alt="Champions" />
						</div>
						<div class="col-md-12">
							<br />
							<p class="newsPBold">APS City Champs!</p>
							<p>The 20th annual Chadron State College Wrestling Team Camp is primed for success. The previous year’s camps were a huge success with over 450 wrestlers from 20 different teams. The team camp concept will feature technique sessions with each team having their own CSC representative for individualized instruction. This year’s camp will focus more on technique, with more time to work with CSC Wrestlers. During the camp, each team will be entered into a dual meet schedule allowing for as many matches as possible.</p>
							<p>There is still time to register for this camp. <a href="http://www.cscwrestlingcamps.com/summer-camp.cfm" target="_blank">Click Here</a> and register ASAP!</p>
						</div>
					</div>
				</div>
			</div>

			<hr class="style13">

			<div class="row">
				<div class="col-md-12">
					<h2 class="mainH2">SUMMER WORKOUTS!</h2>
					<h3 class="mainH3">MAY 16, 2018</h3>
					<div class="row">
						<div class="col-md-4 center">
							<img src='img/workout.jpg' style="max-width: 100%;" alt="Champions" />
						</div>
						<div class="col-md-8">
							<br />
							<p class="newsPBold">Be On The Lookout</p>
							<p>We will be releasing our summer workouts soon. We plan on doing things over the summer from lifting, cardio, wresting, inclines, etc. This will be our first year wrestling 5A and we need to represent well.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-3">

			{{> sidebar }}

		</div>
	</div>
</div>

{{> footer }}
