{{> header }} {{> nav }}
<div class="center">
   <h1 class="counterH1">#STAMPEDETOSTATE!</h1>
   <div class="center" id="stampedeToState"></div>
</div>
<br>
<div class="container">
   <div class="row">
      <div class="col-lg-9">
         <div class="row">
            <div class="col-lg-12 center">
               <div class="embed-responsive embed-responsive-16by9">
                  <!--<iframe src="https://www.youtube-nocookie.com/embed/b2P0cvk9eq8" allowfullscreen></iframe>
                     <iframe src="https://www.youtube-nocookie.com/embed/9TazhsySx7E" allowfullscreen></iframe>
									 	 <source src="img/43161042_260409734816144_7176459291518304256_n.mp4" type="video/mp4">-->
                  <iframe src="//www.youtube.com/embed/6_S4kqVnKFM?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>
         </div>
         <hr class="style13">
         <div class="row">
            <div class="col-lg-12 center">
               <h1 class="mainH1">NEWS</h1>
            </div>
         </div>
         <hr class="style13">
         <br>
         <div class="row">
            <div class="col-md-12">
               <h2 class="mainH2">HS ATHLETIC REGISTRATION</h2>
               <div class="row">
                  <div class="col-md-3">
                     <img src="img/news/registration.png" style="max-width: 100%;" alt="Junior Bison" />
                  </div>
                  <div class="col-md-9">
                     <p class="newsPBold" style="color: red; font-weight: bold;">This needs to be completed ASAP!!!</p>
                     <p>To participate in wrestling, <span class="newsPBold" style="color: red; font-weight: bold;">All items must be completed in order to participate in a
                        sport.</span> IF you have played a fall sport, only #2 and #4 need to be completed before you can participate.
                     <ol>
                        <li>
                           Registration with CHSAA
                           <ul style="padding-left:2%;">
                              <li>Create account by texting S41007 to 69274</li>
                              <li>Create an account at <a href="https://www.arbiterathlete.com/?keyword=%2Fuser%2Fsignin&schoolID=0" target="_blank">ArbiterAthlete</a> click on new to "Sign Up" under
                                 "New to ArbiterAthlete?" to begin
                              </li>
                           </ul>
                        </li>
                        <li>
                           Registration with School
                           <ul style="padding-left:2%;">
                              <li>Create an account at <a href="https://vistapeak-ar.rschooltoday.com/" target="_blank">Vista Peak RS</a> click on athletic team registration</li>
                              <li>You will receive a confirmation email to complete your registration</li>
                           </ul>
                        </li>
                        <li>
                           Updted Physicals Turned Into Athletic Office
                           <ul style="padding-left:2%;">
                              <li>Scanned and emailed to <a href="mailto:klarlt@aurorak12.org">klarlt@aurorak12.org</a> or</li>
                              <li>Hand in a Hard Copy (will be returned immediately) or</li>
                              <li>Upload file to Vista Peak RS (site in #2)</li>
                           </ul>
                        </li>
                        <li>
                           Athletic Fee of $65 Per Season
                           <ul style="padding-left:2%;">
                              <li>Paid at registration (7/26 or 7/27)</li>
                              <li>Paid to Athletic Office</li>
                              <li>Paid to Bookkeeper</li>
                           </ul>
                        </li>
                     </ol>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <hr class="style13">
         <br>
         <div class="row">
            <div class="col-md-12">
               <h2 class="mainH2">JUNIOR BISON IS BACK!!</h2>
               <div class="row">
                  <div class="col-md-3">
                     <img src="img/news/jr-bison.png" style="max-width: 100%;" alt="Junior Bison" />
                  </div>
                  <div class="col-md-9">
                     <p class="newsPBold">Junior Bison Wrestling!</p>
                     <p>We are excited to announce that the Junior Bison program will be back this year and will be partnering with the Bison Wrestling Club. First practices start November 5th 
                        5:30 PM in the Vista Peak Wrestling Room.</p>
                     <p>If you have any quetions please visit <a href="bison_wrestling_club">our page</a> for more details.</p>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <hr class="style13">
         <br>
      </div>
      <div class="col-lg-3">
         {{> sidebar }}
      </div>
   </div>
</div>
{{> footer }}
{{> js_footer }}
{{> html_close }}
