{{> header }} {{> nav }}
<div class="center">
   <h1 class="counterH1">#STAMPEDETOSTATE!</h1>
   <div class="center" id="stampedeToState"></div>
</div>
<br>
<div class="container">
   <div class="row">
      <div class="col-lg-9">
         <div class="row">
            <div class="col-lg-12 center">
               <div class="embed-responsive embed-responsive-16by9">
                  <!--<iframe src="https://www.youtube-nocookie.com/embed/b2P0cvk9eq8" allowfullscreen></iframe>
                     <iframe src="https://www.youtube-nocookie.com/embed/9TazhsySx7E" allowfullscreen></iframe>
									 	 <source src="img/43161042_260409734816144_7176459291518304256_n.mp4" type="video/mp4">-->
                  <iframe src="//www.youtube.com/embed/6_S4kqVnKFM?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>
         </div>
         <hr class="style13">
         <div class="row">
            <div class="col-lg-12 center">
               <h1 class="mainH1">NEWS</h1>
            </div>
         </div>
         <hr class="style13">
         <br>
         <div class="row">
            <div class="col-md-12">
               <h2 class="mainH2">Saturday 01/04/2020 Tournaments</h2>
               <div class="row">
                  <div class="col-md-12">
                     <br>
                     <p class="newsPBold">Every week when the tournaments are in Trackwrestling, we will create a direct link to the tournament that way you don't have to search for 
                        it (trackwrestling search is a headache). Unfortunately not all JV matches will be in track, but if they are we will create on too.</p>
                     <p class="newsPBold">Saturday 01/04/2020:</p>
                     <p class="newsPBold">* Girls - <a href="http://girls.vistapeakwrestling.com" target="_blank">2nd Annual Vista Ridge Alpha Female Tournament</a></p>
                     <p class="newsPBold">* Varsity - <a href="http://varsity.vistapeakwrestling.com" target="_blank">2020 Gary Daum Classic</a></p>
                     <p class="newsPBold">* JV - <a href="http://jv.vistapeakwrestling.com" target="_blank">Chatfield JV Challenge</a></p>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <hr class="style13">
         <br>
      </div>
      <div class="col-lg-3">
         {{> sidebar }}
      </div>
   </div>
</div>
{{> footer }}
{{> js_footer }}
{{> html_close }}
