{{> header }}
{{> nav }}

<div class="wrap">
	<h1 class="counterH1 center">#STAMPEDETOSTATE!</h1>
	<div class="center" id="stampedeToState" style="width:100%;"></div>
</div>

<div class="container">
	<hr class="style13">
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 center">
			<h3 class="mainH3outline">VARSITY SCHEDULE</h3>
			<h6><a href="//www.auroraschools.org/g5-bin/client.cgi?cwellOnly=1&G5statusflag=view&schoolname=&school_id=23&G5button=13&G5genie=969&vw_schoolyear=1&vw_agl=131-1-135," target="_blank">Printable Version</a></h6>
			<div class="googleCalendar">
				<br>
				<iframe src="//calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=eecgaj77ei46saibhs6isgton8%40group.calendar.google.com&amp;color=%230c1c3d&amp;ctz=America%2FDenver" style="border-width:0"></iframe>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12 center">
			<h3 class="mainH3outline">JV SCHEDULE</h3>
			<h6><a href="//www.auroraschools.org/g5-bin/client.cgi?cwellOnly=1&G5statusflag=view&schoolname=&school_id=23&G5button=13&G5genie=969&vw_schoolyear=1&vw_agl=131-1-7," target="_blank">Printable Version</a></h6>
			<div class="googleCalendar">
				<br>
				<iframe src="//calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vistapeak.wrestling%40gmail.com&amp;color=%238bb1df&amp;ctz=America%2FDenver" style="border-width:0"></iframe>
			</div>
		</div>
	</div>
</div>

{{> footer }}
