<div class="container">
	<br>
	<hr class="style13">
	<br>
</div>

<div class="footerwrap">
	<div class="container">
		<h6>Created by <a href="mailto:tdipentino@gmail.com">Tony DiPentino</a> - Copyright 2017</h6>
	</div>
</div>
