<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{#if meta.description}}
		<meta name="description" content="{{meta.description}}" />
		{{/if}}
		{{#if meta.author}}
		<meta name="author" content="{{meta.author}}" />
		{{/if}}
		<link rel="shortcut icon" href="img/favicon/favicon.ico">
		<title>{{meta.title}}</title>

		<!-- Custom Fonts -->
		<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Bowlby+One" />
		<link type="text/css" rel="stylesheet" href="fonts/css/open-iconic-bootstrap.css" />

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<link type="text/css" rel="stylesheet" href="css/main.css" />

		<!-- Bootstrap core Tables CSS -->
		<link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" />

		<!-- Form CSS -->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" type="text/css" href="vendor/noui/nouislider.min.css">
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/fmain.css">

	</head>
	<body>
