<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{#if meta.description}}
		<meta name="description" content="{{meta.description}}" />
		{{/if}}
		{{#if meta.author}}
		<meta name="author" content="{{meta.author}}" />
		{{/if}}
		<link rel="shortcut icon" href="img/favicon/favicon.ico">
		<title>{{meta.title}}</title>

		<!-- Custom Fonts -->
		<link href="//fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet" />

		<!-- Bootstrap core CSS -->
		<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css" />

		<!-- Custom styles for this template -->
		<link type="text/css" rel="stylesheet" href="css/main.css" />

		<!-- Bootstrap core Tables CSS -->
		<link type="text/css" rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

	</head>
	<body>
