<div class="sidebar" style="background-color:#fff;">
	<h1 class="sidebarH1">Follow Us:</h1>
	<a href="https://twitter.com/Bison_wrestling" target="_blank"><img src="img/icons/twitter.png" alt="Twitter" /></a>
	<a href="https://www.facebook.com/groups/VISTAPEAKWRESTLING/" target="_blank"><img src="img/icons/facebook.png" alt="Facebook" /></a>
	<a href="https://plus.google.com/u/3/106208462264885837570" target="_blank"><img src="img/icons/Google-Plus-Icon.png" alt="Google-Plus" /></a>
</div>
<hr class="style13">
<div class="sidebar">
	<h1 class="sidebarH1">Social Media</h1>

<table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:separate;background-color:#ffffff;border:1px solid #dddfe2;border-radius:3px;font-family:Helvetica, Arial, sans-serif;margin:0px auto;">
	<tr>
	<td style="padding:8px 8px 8px 8px;">
		<img class="img" src="https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-0/c0.0.561.293/p320x320/27655477_10101267483145863_3088694740820143225_n.jpg?_nc_cat=102&amp;oh=1c2f2486436915564aeb442aac4f6145&amp;oe=5C28A882" width="280" height="146" alt="" />
	</td>
</tr>
<tr>
	<td style="font-size:16px;font-weight:bold;padding:8px 8px 8px 8px;text-align:center;">VISTA PEAK Wrestling</td>
</tr>
<tr>
	<td style="padding:8px 8px 8px 8px;">
		<table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;" valign="middle" align="center">
			<tr>
				<td style="background-color:#4267b2;border-radius:3px;text-align:center;">
					<a style="color:#3b5998;text-decoration:none;cursor:pointer;width:100%;text-align:center" href="https://www.facebook.com/plugins/group/join/popup/?group_id=144812012379101&amp;source=email_campaign_plugin" target="_blank" rel="noopener">
						<table border="0" cellspacing="0" cellpadding="3" align="center" style="border-collapse:collapse;">
							<tr>
								<td style="border-bottom:3px solid #4267b2;border-top:3px solid #4267b2;">
									<img width="16" src="https://facebook.com/images/groups/plugin/email/app_fb_32_fig_white.png" />
								</td>
								<td style="border-bottom:3px solid #4267b2;border-top:3px solid #4267b2;color:#FFF;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;">Join Group</td>
							</tr>
						</table>
					</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

</div>
<hr class="style13">
<div class="sidebar">
	<a class="twitter-timeline" data-width="100%" data-height="400" data-theme="dark" href="//twitter.com/Bison_wrestling?ref_src=twsrc%5Etfw" style="border-color:#000;">Tweeter - Vista PEAK Wrestling</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<hr class="style13">
<h1 class="sidebarH1">EXTERNAL LINKS</h1>
<div class="sidebar" style="background-color:#fff;">
	<a href="http://vistapeakathletics.com/" target="_blank" class="list-group-item">Vista Peak Athletics</a>
	<a href="http://www.pikespeakwrestling.com/" target="_blank" class="list-group-item">Pikes Peak Wrestling League</a>
	<a href="http://www.rmnevents.com/" target="_blank" class="list-group-item">Rocky Mountain Nationals</a>
	<a href="http://s200.trackwrestling.com/tw/TWHome.jsp?loadBalanced=true" target="_blank" class="list-group-item">Track Wrestling</a>
	<a href="http://www.teamusa.org/USA-Wrestling" target="_blank" class="list-group-item">USA Wrestling</a>
</div>
<hr class="style13">
<h1 class="sidebarH1">SPONSORS</h1>
<div class="sidebar" style="background-color:#fff;">
	<a href="https://www.google.com/url?q=https%3A%2F%2Fwww.pacificoffice.com%2Fcontact%2Fdenver-co-pacific-office-automation&sa=D&sntz=1&usg=AFQjCNHRfR_XMQJn-Loiz35rkEeBRg1oxA" target="_blank" class="list-group-item">Pacific Office Automation</a>
	<a href="" class="list-group-item">Cady Plumbing Co</a>
	<a href="" class="list-group-item">Blue Stem Horse Boarding LLC</a>
	<a href="" class="list-group-item">Daniel &amp; Bailey Benedict</a>
	<a href="" class="list-group-item">Chris Meier</a>
	<a href="" class="list-group-item">Lawrence Renas</a>
	<a href="" class="list-group-item">Daniel Iwatsu</a>
	<a href="" class="list-group-item">Molly Oliver</a>
	<a href="" class="list-group-item">Jesus Lozano</a>
</div>
